# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Local configuration and secrets
.env
sites.json

# IDEs & editors
.vscode/
.idea/
*.swp
*.swo
pyrightconfig.json

# OS files
.DS_Store
Thumbs.db
